body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-pj {
    border: 1px solid gray;
    padding: 18px 0 18px 0;
    border-radius: 8px;
    width: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.container-pj h3 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salarioBruto {
    align-self: center;
    padding: 15px;
}

#inssValor,
#irpfValor,
#issValor {
    align-self: center;
    padding: 15px;
}

#menssagemSalarioLiquido {
    align-self: center;
}